body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    font-style: italic;
    background-color: rgb(54, 54, 54);
    margin: 0px;
    padding: 10px;
    text-align: center;
    color: white;
}

h1{
    margin: 0px;
}

h2{
    font-size: 20px;
    color: rgb(133, 133, 223);
    margin: 0px;
    padding-bottom: 10px;
}

main{
    padding: 20px;
    margin: 20px;
    background-color: #eee;
}

article {
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 10px;                
    margin-bottom: 10px;          
    background-color: #ddd; 
}

table {
    border-collapse: collapse;
    border: 3px solid #aaa;
}

thead {
    background-color: rgb(39, 36, 36);
    color: white
}

th, td{
    padding: 10px;
    border: 3px solid #aaa;
}

img {
    max-width: 200px; 
    max-height: 200px;
}

footer  {
    margin: 0px;
    padding: 5px;
    color: white;
    text-align: center;
    background-color: rgb(54, 54, 54);
}