body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007cc2;
  color: #fff;
  text-align: center;
  padding: 10px;
}

main {
  background-color: #fff;
  width: 800px;
  align-self: center;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

main h1, h2 {
  text-transform: uppercase;
  padding: 5px;
}

img {
  border-radius: 100%;
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 10px;
}

h2 {
  background-color: #0478bf;
  color: white;
  font-size: large;
}

a:hover{
  color: white;
  background-color: black;
}

img + h2 {
  background-color: red;
  color: white;
}

p > b{
  color: blue;
}

b ~ i{
  text-decoration: underline;
  color: red;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

li:first-child{
  font-weight: bold;
}

#inline {
  display: block;
}

#inline h1 {
  display: block;
  margin-bottom: 0.5em;
}

#inline h1 {
  text-transform: none;
}

#inline p {
  display: inline;
}

#inline p::after {
  content: ",";
  margin-right: 0.3em;
}

#inline p:last-of-type::after {
  content: "";
}

footer{
  background-color: #007cc2;
  color: #fff;
  text-align: center;
  padding: 10px;
}

